.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
 
 .avatar {
     position: absolute;
     top: 20%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 80px;
     height: 80px;
     border-radius: 100px;   
 }

 .name {
     font-size: 18px; 
     margin-bottom: 12px;
     color: rgb(29, 29, 29);
 }

 .tag, .location  {
  
     font-size: 13px;
     color: gray;
    margin-bottom: 10px;
 }

 .location {
    font-size: 15px;
 }






 .stats {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    left: 0px;
    bottom: 0px;
    background-color: #F3F6F9;
}


.listItem,.listItemCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 73px;
    border: 1px solid #E9E9E9;
 
}

.listItemCenter {
    width: 80px;
    height: 73px;

}

.label {
    position: absolute;
    padding-bottom: 20px;
    font-size: 15px;
    color: gray;
}

.quantity {
    position: absolute;
    padding-top: 30px;
    font-size: 15px;
    color:#1F3349;
}


