.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
 
 .avatar {
     position: absolute;
     top: 20%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 80px;
     height: 80px;
     border-radius: 100px;   
 }

 .name {
     font-size: 18px; 
     margin-bottom: 12px;
     color: rgb(29, 29, 29);
 }

 .tag, .location  {
  
     font-size: 13px;
     color: gray;
    margin-bottom: 10px;
 }

 .location {
    font-size: 15px;
 }
